/* 
    Document   : Pagina
    Created on : 16/08/2015, 06:54:44 PM
    Author     : Alex
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body{
    font-size: 12px;
}
